/* font-family: 'Montserrat', sans-serif; */

/* font-family: 'Inconsolata', monospace; */

/*  font-family: 'Nixie One', cursive;*/

/* font-family: 'Special Elite', cursive; */

body {
  margin: 0;
  background-color: #f9f1f1;
}

a {
  color: #f4c2c2;
  text-decoration: none;
}

a:visited {
  color: #f9f1f1;
  text-decoration: none;
}

hr {
  border-top: 1px dotted #005e5e;
}

hr.style2 {
  border-top: 3px double #f4c2c2;
}
ol {
  list-style: none;
}

.vl {
  border-left: 2px solid black;
  height: 100px;
  padding: 10px;
}

.active {
  color: orange;
}

.image {
  width: 180px;
  font-family: 'Special Elite', cursive;
  text-decoration: underline;
}

/* gives images circular framing */

#rounded {
  border-radius: 75%;
  padding: 5px;
}

/*STUDENTS flex box wrapper  */

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #f6e5d3;
  width: 25%;
  margin: 15px;
  padding: 25px;
  font-family: 'Special Elite', cursive;
}

.course-list {
  list-style: none;
}

/* flexxy MENU */

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #000;
  padding: 30px;
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
  width: 100%;
}

.cg-ed {
  width: 70%;
  color: #428bca;
  font-weight: 700;
}

.students {
  color: #428bca;
  width: 10%;
}

.teachers {
  color: #428bca;
  width: 10%;
}

.classes {
  color: #428bca;
  width: 10%;
}

/*end MENU  */

/* page wrapper */

.page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

/* Wraps Student Card Rows */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*for rows that do not meet standard of 3 cards  */

.incomplete {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/* wraps rows of 3 course card */

.row-1 {
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
}




/* COURSE card outer wrapper */

.course-wrapper {
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  background-color: #f6e5d3;
  width: 45%;
  padding: 10px;
  margin: 15px;
  font-family: 'Special Elite', cursive;
}

/*COURSE cards inner */

.course-name {
  width: 45%;
  padding: 10px;
}

.course-info {
  width: 45%;
  padding: 10px;
}


/* slightly different text wrapper for teacher page */
/*
.image-wrapper-t {
  font-size: 1.2em;
} */
/* TEACHER card outer wrapper */

.teacher-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #f6e5d3;
  width: 25%;
  margin: 15px;
  padding: 20px;
}

/* TEACHER card inner */

.email {
  justify-content: center;

}

.box-2 {
  font-size: .8em;
  padding: 5px 30px;
}

/* STUDENT card outer wrapper */

.student-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* STUDENT card inner  */

.student-name {
  font-size: 1em;
  text-decoration: underline;
}

.grade-wrapper {
  display: flex;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: .75em;
}

.grades {
  width: 50%;
}

.enrolled {
  width: 50%;
}

#boldy {
  font-family: 'Special Elite', cursive;
  font-weight: 600;
}

#notboldy {
  font-family: 'Special Elite', cursive;
}

#courses {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1em;
}

/* FOOTER styling */

#foot {
  justify-content: center;
  color: #f4c2c2;
  margin-bottom: 0;
  padding: 20px;
  width: 100%;
  font-family: 'Rancho', cursive;
  font-size: .85em;
}

/* where should the menu items go? */
@media (max-width: 400px) {
  .wrapper {
    flex-direction: column;
    min-width: 250px;
  }
.enrolled {
  width: 100%;

}
.grades {
  width: 100%;
}
.course-wrapper {
  flex-direction: column;
  width: auto;
  min-width: 300px;
}
.vl {
  display: none;
}
.course-name {
  width: 100%;
}
.course-info {
  width: 100%;
}
.row-1 {
  flex-direction: column;
}
.menu {
  display: inline-block;
  justify-content: flex-end;
  padding-left: 10%;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1em;
}
}

@media (min-width: 401px) and (max-width: 660px) {
  .wrapper {
    flex-direction: column;
    min-width: 250px;
    padding: 15px;
  }
.enrolled {
  width: 100%;

}
.grades {
  width: 100%;
}
.course-wrapper {
  flex-direction: column;
  width: auto;
  min-width: 300px;
}
.vl {
  display: none;
}
.course-name {
  width: 100%;
}
.course-info {
  width: 100%;
}
.row-1 {
  flex-direction: column;
}
.enrolled {
  font-size: .85em;
}
.menu {
  display: inline-block;
  justify-content: flex-end;
  padding-left: 10%;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 1em;
}
#foot {
  padding: 5px;
  justify-content: center;
}
}



@media screen and (min-width: 661px) and (max-width: 960px) {

  .wrapper {
    flex-direction: column;
    min-width: 250px;
  }
.enrolled {
  width: 100%;

}
.grades {
  width: 100%;
}
.course-wrapper {
  flex-direction: column;
  min-width: 250px;
  justify-content: center;
}
.vl {
  display: none;
}
.course-name {
  width: 100%;
}
.course-info {
  width: 100%;

}
.row-1 {
  flex-direction: column;
  align-items: center;
}



}
